<% unless @uploads.empty? %>
  <table id="uploads-table" class="table table-striped table-bordered dataTable no-footer responsive nowrap" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Uploaded</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @uploads.each do |upload| %>
        <tr>
          <td><%= link_to upload.title, recordrtc_path(upload), target: '_blank' %></td>
          <td><%= upload.created_at.strftime("%A, %d %b %Y @ %H:%M") %></td>
          <td class="text-right">
            <div class="btn-group">
              <%= link_to '<i class="fa fa-pencil-square-o"></i> Edit'.html_safe, edit_recordrtc_path(upload), class: 'btn btn-default btn-xs', method: :get, target: '_blank' %>
              <%= link_to '<i class="fa fa-trash-o"></i> Delete'.html_safe, api_upload_path(upload), class: 'btn btn-outline btn-danger btn-xs', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<script type="text/javascript">
  $(document).on('ready', function() {
    var table = $('#uploads-table').dataTable({
      'stateSave': true,
      'columnDefs': [
        {
          'targets': 2,
          'orderable': false,
          'searchable': false
        }
      ]
    });
  });
</script>
