<% content_for :page_header do %>
  <%= @message.lis_person_name_full %>
<% end %>

<% content_for :panel_heading do %>
  Recordings
<% end %>

<!-- Hidden for now -->
<!-- <button id="refresh" class="btn btn-status"><i class="fa fa-refresh"></i> Refresh</button> -->

<div id="recordings" class="panel-body">
  <%= render 'uploads' %>
</div>
