<div class="container">
    <h3>Failed to Save Tool Proxy</h3>
    <div><span>Response Code:</span><%= @error[:response_status] %></div>
    <div><span>Response Body:</span><%= @error[:response_body] %></div>
</div>
