// Color variables
$body-bg-color: #eee
$table-bg-color: #fff
$table-header-bg-color: #595959
$table-header-text-color: #fff
$error-or-unkown-bg-color: #f00
$add-icon-text-color: #00b500
$remove-icon-text-color: #f00
$love-icon-text-color: #ff69b4



////////////////////////////////////////////////////////////////////////////////
// CSS for CONTROLLER: message, global
////////////////////////////////////////////////////////////////////////////////

body
  &.message
    ////////////////////////////////////////////////////////////////////////////
    // CSS for CONTROLLER: message, ACTION: basic_lti_launch_request
    ////////////////////////////////////////////////////////////////////////////

    &.basic_lti_launch_request
      background-color: $body-bg-color
      padding: 0 50px 20px

      table
        background: $table-bg-color

        thead
          th
            background-color: $table-header-bg-color
            color: $table-header-text-color
            padding: 2px 4px

        td
          max-width: 500px
          padding: 5px
          word-wrap: break-word

      #blti-header
        text-align: center

      #error-box
        text-align: center

      .error-or-unknown
        background-color: $error-or-unkown-bg-color

      #oauth-bs
        min-height: 100px
        width: 100%



    ////////////////////////////////////////////////////////////////////////////
    // CSS for CONTROLLER: message, ACTION: content_item_builder
    ////////////////////////////////////////////////////////////////////////////

    &.content_item_builder
      .add-remove-col
        width: 3em

      .add-icon
        color: $add-icon-text-color

      .remove-icon
        color: $remove-icon-text-color

      .love-icon
        color: $love-icon-text-color
